.DS_Store
*.pyc
__pycache__/
node_modules/
.vector_cache/
*.pkl
*.tar
.vscode
saves/*
!saves/README.md

data/reference/pilot_coll1/raw/vision/png_imgs/
data/reference/pilot_coll1/raw/vision/svg_imgs/

data/concept/raw/stims/test_stim/vision/png_imgs/
data/concept/raw/stims/test_stim/vision/svg_imgs/

data/concept/raw/stims/train_stim/vision/png_imgs/
data/concept/raw/stims/train_stim/vision/svg_imgs/
